# Flask
SECRET_KEY=change-this-secret
DATABASE_URL=sqlite:///scheduler.db
UPLOAD_FOLDER=uploads
MAX_CONTENT_LENGTH_MB=2048
APP_TIMEZONE=America/Montreal

# Scheduler
ENABLE_SCHEDULER=true
SCHEDULER_INTERVAL_SECONDS=60
ADMIN_RUN_KEY=change-me

# YouTube OAuth files
YOUTUBE_CLIENT_SECRET_FILE=instance/youtube_client_secret.json
YOUTUBE_TOKEN_FILE=instance/youtube_token.json

# Facebook Pages / Meta Graph API
FACEBOOK_GRAPH_VERSION=v25.0
FACEBOOK_PAGE_ID=
FACEBOOK_PAGE_ACCESS_TOKEN=

# TikTok Content Posting API
TIKTOK_ACCESS_TOKEN=

# Pinterest API
PINTEREST_ACCESS_TOKEN=
PINTEREST_BOARD_ID=
